<h1>Welcome!</h1>

<h2><a href="/transactions/new">Add a new transaction</a></h2>

<h2>Latest Transactions: </h2>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Tag</th>
  </tr>
  <% for transaction in @top_5 %>
    <tr>
      <td><%=Transaction.format_date(transaction.transaction_date)%></td>
      <td><%=transaction.transaction_time%></td>
      <td><%=transaction.currency_gbp%></td>
      <td><a href="/merchants/<%=transaction.merchant.id%>"><%=transaction.merchant.name%></a></td>
      <td><a href="/tags/<%=transaction.tag.id%>"><%=transaction.tag.name%></a>
    </tr>
  <% end %>
</table>
