<h1>Welcome to your personal budget tracker!</h1>

<p><a href="/transactions/new">Add a new transaction</a></p>

<h2>Latest Transactions: </h2>
<% for transaction in @top_5 %>
<p>Date: <%=Converter.format_date(transaction.transaction_date)%></p>
<p>Time: <%=transaction.transaction_time%></p>
<p>Amount: <%=transaction.currency_gbp%></p>
<p>Merchant: <a href="/merchants/<%=transaction.merchant.id%>"><%=transaction.merchant.name%></a></p>
<p>Tag: <a href="/tags/<%=transaction.tag.id%>"><%=transaction.tag.name%></a></p>
<p><a href="/transactions/<%=transaction.id%>">Edit or Delete Transaction</a></p>
<hr />
<% end %>
