<h1>All Tags</h1>
<h2><a href="/tags/new">Add new tag</a></h2>
<% for tag in @tags %>
  <% if tag.transactions(1) != [] %>
    <h2>Last transaction for <a href="/tags/<%=tag.id%>"><%=tag.name%></a>:</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Amount</th>
      </tr>
      <tr>
        <td><%=Transaction.format_date(tag.transactions(1).first.transaction_date)%></td>
        <td><%=tag.transactions(1).first.transaction_time%></td>
        <td> <%=tag.transactions(1)[0].gbp()%></td>
      </tr>
    </table>
    <p><a href="/tags/<%=tag.id%>">View all transactions marked <%=tag.name%></a></p>
  <% else %>
  <h2>No transactions for  <a href="/tags/<%=tag.id%>"><%=tag.name%></a> yet.</h2>
  <% end %>
  <hr />
<% end %>
