<h1>Tags</h1>
<p><a href="/tags/new">Add new tag</a></p>
<% for tag in @tags %>
  <p>Tag: <%=tag.name%> | <a href="/tags/<%=tag.id%>/edit">edit</a></p>
  <% if tag.transactions(1) != [] %>
    <h2>Last transaction for <%=tag.name%> </h2>
    <p>Date: <%=Transaction.format_date(tag.transactions(1).first.transaction_date)%> Time: <%=tag.transactions(1).first.transaction_time%></p>
    <p>Amount: <%=Transaction.gbp(tag.transactions(1).first.amount)%></p>
  <% end %>
  <p><a href="/tags/<%=tag.id%>">View all transactions marked <%=tag.name%></a></p>
  <hr />
<% end %>
