<h1><%=@tag.name.capitalize%></h1>

<p><a href="/tags/<%=@tag.id%>/edit">Edit Tag</a></p>
<p><form action="/tags/<%=@tag.id%>/delete" method="POST">
  <input type="submit" value="Delete tag">
</form></p>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th> </th>
  </tr>
<% for transaction in @transactions %>
<tr>
  <td><%=transaction.transaction_date%></td>
  <td><%=transaction.transaction_time%></td>
  <td><%=transaction.currency_gbp%></td>
  <td><a href="/merchants/<%=transaction.merchant.id%>"><%=transaction.merchant.name%></a></td>
  <td><a href="/transactions/<%=transaction.id%>">edit or delete transaction</a></td>
</tr>
<% end %>
</table>
<p>Total: <%=Transaction.gbp(@total)%></p>
