<h1>Add transaction:</h1>

<form action="/transactions/<%=@transaction.id%>" method="POST">

  <label for="transaction-pounds">Amount: £</label>
  <input type="number" min="0" id="transaction-pounds" name="pounds" value="<%=@transaction.pounds()%>" required>.
  <input type="number" min="0" max="99" id="transaction-pence" name="pence" value="<%=@transaction.pence()%>" required>p
  <label for="transaction-tags">Tag: </label>
  <select name="tag_id" id="transaction-tags" required>
    <% for tag in @tags%>
    <option <%= "selected" if tag.name == @transaction.tag.name%> value="<%=tag.id%>"><%=tag.name%></option>
    <%end%>
  </select>

  <label for="transaction-merchants">Merchant: </label>
  <select name="merchant_id" id="transaction-merchants" required>
    <% for merchant in @merchants%>
    <option <%= "selected" if merchant.name == @transaction.merchant.name%> value="<%=merchant.id%>"><%=merchant.name%></option>
    <%end%>
  </select>

  <label for="transaction-date">Date:</label>
  <input type="date" id="transaction-date" name="transaction_date" value="<%=@transaction.transaction_date%>" required>

  <label for="transaction-time">Time:</label>
  <input type="time" id="transaction-time" name="transaction_time" value="<%=@transaction.transaction_time%>" required>

  <input type="submit" value="Edit Transaction">

</form>
