<h1>Transactions</h1>
<h2><a href="/transactions/new">Add a new transaction</a></h2>
<h2>Total: <%=Transaction.gbp(@total)%></h2>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th> </th>
  </tr>
<% for transaction in @transactions %>
  <tr>
    <td><%=Transaction.format_date(transaction.transaction_date)%></td>
    <td><%=transaction.transaction_time%></td>
    <td><%=transaction.gbp%></td>
    <td><a href="/merchants/<%=transaction.merchant.id%>"><%=transaction.merchant.name%></a></td>
    <td><a href="/tags/<%=transaction.tag.id%>"><%=transaction.tag.name%></a></td>
    <td><a href="/transactions/<%=transaction.id%>">Edit or Delete Transaction</a></td>
  </tr>
<% end %>
</table>
<p>Total: <%=Transaction.gbp(@total)%></p>
